<!DOCTYPE html>
<html>
<head>
  <title>Cadenero</title>
  <%= stylesheet_link_tag    "cadenero/application", :media => "all" %>
  <%= javascript_include_tag "cadenero/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
